:host {
    display: block;
    position: relative;
    z-index: 1;
    height: 100%;
}

.back-button {
    margin-top: 20px;
    margin-bottom: 85px;

    svg {
        height: 15px;
        margin-right: 5px;
    }
}

p {
    font-size: 1.2em;
}

input {
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    color: black;
    width: calc(100% - 3.2rem);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: VT323;
    text-transform: uppercase;
}

.unlock-button {
    position: absolute;
    bottom: 50px;
    background-color: #27AE60;
    color: white;

    svg {
        height: 15px;
        margin-left: 5px;
    }
}

.answer-panel {
    position: absolute;
    margin-top: 0;
    top: calc(100% + 20px);
    left: -20px;
    right: -20px;
    height: 250px;
    text-align: left;
    padding: 20px;
    transition: margin-top .3s;

    &.opened {
        margin-top: -250px;
    }

    h2 {
        margin: 0;
    }

    &.panel-error {
        background-color: #c50000;
    }

    p {

    }
}