:host {
    display: block;
    position: relative;
    z-index: 1;
    height: 100%;
}

.qr {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: transparent url(/assets/images/qr.png) no-repeat center center;
    background-size: contain;

    &.red {
        filter: invert(13%) sepia(77%) saturate(6121%) hue-rotate(358deg) brightness(101%) contrast(112%);
    }
}

.back-button {
    margin-top: 20px;
    margin-bottom: 85px;

    svg {
        height: 15px;
        margin-right: 5px;
    }
}

input {
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    color: black;
    width: calc(100% - 3.2rem);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: VT323;
    text-transform: uppercase;
}

.unlock-button {
    position: absolute;
    bottom: 50px;
    background-color: #27AE60;
    color: white;

    svg {
        height: 15px;
        margin-left: 5px;
    }
}
