<img src="../../assets/images/ajax-loader.gif" class="loader" *ngIf="!enigma" />
<ng-container *ngIf="enigma">
    <i [class]="'top-icon qr ' + enigma.color"></i>
    <h2>Chapitre {{ enigma.number }}</h2>
    <div class="enigma" *ngIf="guessingPlace; else question">
        <div class="place-enigma" [innerHtml]="enigma.placeEnigma"></div>
        <zxing-scanner
            *ngIf="enigma.question"
            (click)="scanOpen = true"
            [enable]="scanOpen"
            (scanSuccess)="scanSuccessHandler($event)"
            (scanError)="scanErrorHandler($event)"
        ></zxing-scanner>
    </div>
    <ng-template #question>
        <h3>{{ enigma.name }}</h3>
        <div class="enigma">
            <div class="question" [innerHtml]="enigma.question"></div>
            <input type="text" [(ngModel)]="answer" [maxlength]="enigma.answer?.length" [disabled]="errorOpen" />
            <span class="remaining">{{enigma.answer?.length - answer?.length}} {{enigma.answer?.length - answer?.length > 1 ? 'lettres restantes' : 'lettre restante'}}</span>
            <button type="button" #answerInput class="unlock-button" (click)="validateAnswer()" [disabled]="errorOpen || routerLoading || enigma.answer?.length !== answer?.length">
                <ng-container *ngIf="!routerLoading; else loading">
                    Transmettre<br/>au PC central
                </ng-container>
                <ng-template #loading>
                    <img src="../../assets/images/ajax-loader.gif" width="50" />
                </ng-template>
            </button>
        </div>
    </ng-template>
</ng-container>
<div class="answer-panel panel-error" [class.opened]="errorOpen">
    <h2>Erreur</h2>
    <p>{{ errorMessage }}</p>
</div>

