:host {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
}

.enigma-wrapper {
    overflow: auto;
}

.enigma {
    flex: 1;
    padding: 20px;
}

@keyframes fingerprint {
    from {
        background-size: 60%;
    }
    to {
        background-size: 70%;
    }
}

.loader {
    width: 50px;
    margin: 40px auto;
}

input {
    display: block;
    margin: 0;
    padding: 0.8rem 1.6rem;
    color: black;
    width: calc(100% - 3.2rem);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 1.6rem;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow 300ms;
    text-align: center;
    position: relative;
    z-index: 0;
    font-family: VT323;
    text-transform: uppercase;
}

.remaining {
    font-family: Lato;
    color: yellow;
    display: block;
}

.unlock-button {
    background: transparent url(../../assets/images/button.png) no-repeat top center;
    background-size: cover;
    color: white;
    margin-top: 20px;
    border: 0;
    text-transform: uppercase;
    font-family: Anton;
    letter-spacing: 1px;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 104px;
    text-shadow: 0 0 3px black;
    line-height: 1.8rem;
    outline: 0;

    &:active {
        background-position: bottom center;
    }

    &:disabled {
        filter: grayscale(100%);
        opacity: 75%;
    }
}